<!--
 * @Author: LAPTOP-S6ACOFOO\83439 yanhaijun@longwisepr.com
 * @Date: 2024-12-18 15:34:25
 * @LastEditors: LAPTOP-S6ACOFOO\83439 yanhaijun@longwisepr.com
 * @LastEditTime: 2025-01-07 11:25:42
 * @FilePath: \accounts\views\account.ejs
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>accounts</title>
</head>
<body>
<a href="/">回到首页</a>
<h1>account</h1>
<h1>列表页</h1>
<ul>
    <% accounts.forEach(account =>{ %>
        <li>
            <h3><%= account.time %></h3>
            <div class="content">
                <span><%= account.remarks %></span>
                <span><%= account.type == 1 ? '收入' : account.type == -1 ? '支出' : '' %></span>
                <span><%= account.account %> 元</span>
            </div>
        </li>
    <% }) %>

    <div><%= title %></div>
</ul>
</body>
</html>